<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>Brands\Brands</fullnamespace>
    <descriptive locale="en_US">
        <title>Manage brands</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Gestion des marques</title>
    </descriptive>
    <version></version>
    <author>
        <name>Flavien Grenier - Nicolas Villa</name>
        <email>contact@libre-shop.com</email>
    </author>
    <type>classic</type>
    <thelia>2.0.0</thelia>
    <stability>other</stability>
</module>
